/* ~190 : ARTICLES*/

/* TODO: AVATAR RESPONSIVE */


* {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      vertical-align: baseline;
      font-size: 100%;
}

html {
  font-family: Quicksand;
  font-weight: bold;
  overflow-x: hidden;
}

body {
      width: 100%;
      background-image: url(../img/bg.png);
      /* background-size: cover; */
      background-repeat: no-repeat;
}

.white-4-respNav {
  display: none;
}

nav {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    line-height: 60px;
    margin-right: 1%;
    display: inline;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(181, 118, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
    padding-right: 20%;
}

nav.black ul {
    background: #b57600;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #000;
}

.menuBurger {
  margin-top: 0px;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  width: 50px;
  height: auto;
}

.logoNav img{
  width: 50px;
  transition: transform 0.5s ease-out
}

.logoNav img:hover {
  transform: rotate(360deg);
}

/* SIDEBAR RIGHT */

.buttonsRight {
  position: absolute;
  top: 300px;
  right: 90px;
  display: none;
  flex-direction: column;
}
.logoNav img:hover .buttonsRight {
  display: flex;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

.scroll-line {
     height: 5px;
     border-radius: 5%;
     margin-bottom: -2px;
     background: #000;
     width: 0%;
}

.searchbox {
  float: right;
  z-index: 99;
  position: fixed;
  top: 30px;
  left: 25%;
}

.searchbox input {
  padding: 5px;
  border-radius: 20px;
  border: 2px solid #b57600;
}

#searchGo{
  background-color: #fff;
  color: #000;
  font-weight: bold;
  transition: 0.5s;
}

#searchGo:hover {
  background-color: #000;
  color: #fff;
}

.searchIcon {
  width: 50px;
  border-radius: 50%;
}

.navBar::after {
      content: "";
      clear: both;
      display: table;
}

.header-toogle{
  display: none;
}

.blackBack{
    display:none;
}


.buttonsRight a {
  color: #000;
}

.wrapper{
  margin: auto;
  min-height: 600px;
  margin-top: 10%;
  width: 50%;
  background-color: #b57600;
  border: 7px solid #fff;
  padding: 0;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.avatar {
  z-index: 100;
  position: fixed;
  top: 10px; left: 90px;
  text-align: center;
  text-decoration: none;
  color : #b57600;
}

.avatar:hover {
  color: #000;
  text-decoration: none;
}

.avatar img {
  border-radius: 50%;
  width : 200px;
  height: 200px;
  border : 5px solid #b57600;
}

.logoNav {
  z-index: 100;
  position: fixed;
  top: 10px; right: 90px;
  text-align: center;
  text-decoration: none;
  color : #b57600;

}

.logoNav img {
  border-radius: 50%;
  width : 200px;
  height: 200px;
  border : 5px solid #fff;
  /* border-top: none; */
}


/* sideFriends */

.sideFriends {
  position: fixed;
  top: 40%;
  left: 2.5%;
  width: 20%;
  background-color: #b57600;
  padding: 5px;
}

.sideFriends ul li {
  list-style: none;
}




/* ARTICLES */

.article {
  width: 90%;
  background-color: rgba(255,255,255,0.1);
  border: 2px solid #fff;
  margin: auto;
  margin-top: 30px;
  background-color: #fff;
  text-align: left;
  padding: 10px;
}

.postMsg {
  float:right;
  margin-top:10px;
  margin-bottom: 10px;
  padding:5px;
  background-color: #fff;
  color: #000;
  margin-right: 10px;
}

.comment {
  border-top: 2px solid black;
}

.texte-article {
  display: block;
  width: 90%;
  background-color: rgba(255,255,255,0.1);
  border: 2px solid #fff;
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
  text-align: left;
  padding: 10px;
}

.postMsg:hover {
  background-color: #000;
  color: #fff;
}

.img_article img{
  width: 100px;
  height: 100px;
  /* background-image: url(../img/fleurs-bleuesv2.jpg); */
  float: left;
  position: relative;
  top: 0;
  margin-right: 10px;
  margin-bottom: 10px;

  /* background-size: cover; */
  border-radius: 50%;
  border: 2px solid #b57600;
}

.img_publication img {
  max-width: 100%;
  height: auto;
}



.nomPersonne {
  display: inline-block;
  text-decoration: none;
  background-color: #b57600;
  padding: 5px;
  color: black;
}
.date_article {
  display: inline-block;
  float: right;
}


.friend {
  width: 90%;
  background-color: rgba(255,255,255,0.1);
  border: 2px solid #fff;
  margin: auto;
  margin-top: 30px;
  background-color: #fff;
  text-align: left;
  padding: 10px;
  height: 150px;
}

.friend .nomPersonne {
  vertical-align: middle;
    transition: 0.5s;
    color: #000;
}

.friend .nomPersonne:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.friend input {
  float: right;
  background-color: #b57600;
  color: #000;
  padding: 5px;
  text-transform: uppercase;
  margin-right: 5px;
  transition: 0.5s;
}

.friend input:hover {
  background-color: #000;
  color: #fff;
}

footer {
  width: 40%;
  text-align: center;

  margin-left: 30%;
  margin-top: 30px;
  font-weight: lighter;
}


.FormCGTDATA{
    width: 320px;

    background: #fff;
    color: #000;
    position: relative;
    margin-left: 30px;
    /* transform: translate(-50%,-50%); */
    box-sizing: border-box;
    padding: 70px 30px;
    display: inline-block;
    border-radius: 50px;
    position: absolute; top: 0px;

}


.FormCGTDATA p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.FormCGTDATA input{
    width: 100%;
    margin-bottom: 20px;
}
.FormCGTDATA input{
    width: 100%;
    margin-bottom: 20px;
}

.FormCGTDATA input[type="text"], input[type="password"], input[type="email"], input[type="file"] ,textarea
{
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    /* background: transparent; */
    background-color: #b57600;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.FormCGTDATA input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, textarea
{
  color : #fff;
  opacity: 1;
}

.FormCGTDATA input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #b57600;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    border-bottom: 1px solid #fff;
}
.FormCGTDATA input[type="submit"]:hover
{
    cursor: pointer;
    background: #000;
    color: #fff;
}
.FormCGTDATA a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    /* color: darkgrey; */
}
.FormCGTDATA textarea {
  margin-bottom: 20px;
}
.FormCGTDATA a:hover
{
    /* color: #ffc107; */
}

.form1 {
  height: 550px;
  position: absolute;
  left: 20px;
}

.form2 {
  height: 550px;
  position: absolute;
  right: 50px;
}



.textPost {
  border-top: 1px solid #b57600;
}

.myProfile__img {
  border-radius: 50%;
  width : 210px;
  height: 210px;
  border : 5px solid #b57600;
}

@media only screen and (max-width: 991px) {

    body {
      font-size: 12px;
      overflow-x: hidden;
    }

    #main-header {
      background-color: #b57600;
    }

    header h3 {
      display: none;
    }

    .white-4-respNav {
        display: inline-block;
        background-color: #fff;
        width: 100%;
        height : 80px;
        position: fixed; top: 0px; left: 0px;
        z-index: 1;
    }

    nav .menu {
      display: none;

      /* max-height: 0; */
      margin-top: 80px;
      background-color: #b57600;
      overflow: hidden;
      color: #000;
      width: 100%;
      z-index: 999;
    }

    nav .menu a{
      display: block;
      border-bottom: 1px solid #000;
      width: 100%;
      color: #000;
    }

    nav ul {
        line-height: 18px;
        padding: 0;
        text-align: center;
        margin: 0;
        transition: 1s;
    }

    nav.black ul {
        background: #b57600;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        transition: 0.5s;
    }

    nav ul li a:hover {
        color: #b57600;
        text-decoration: none;
        background-color: #fff;
    }


    .searchbox input{
      border: 1px solid #b57600;
    }

    .header-toogle {
      display: inline-block;
      z-index: 1000;
    }

    .header-toogle {
      position: fixed; top: 25px; right: 10px;
      display: block;
    }

    .header-toogle-close {
      display: none;
    }

    .header-toogle:target .header-toogle-close{
      display:inline;
    }

    .header-toogle:target .menu{
      max-height: 0%;
      transition: all 300ms linear 5s;
      transition-delay: 2s;
      transition-duration: 5s;
      transition-timing-function: linear;
    }

    .header-toogle:target .header-toogle-open{
      display:none;
    }




    .logoNav img {
      border: 2px solid white;
      position: absolute; top: 5px; right: 5px;
      width: 60px;
      height: 60px;
    }

     .logoNav {
      display: block;
      /* display: none;*/
      position: fixed; top: 5px; left: 5px;
      width: 60px;
      height: 60px;
      }


    .container-fluid {
      /* margin-top: 150px; */
      margin: 0;
      padding: 0;
      left: 0px;
      width: 100%;
      height: calc(100vh - 80px);
      position: absolute; top: 150px; left: 2%;
    }



    .sideFriends {
      position absolute;
      top: 80px;
      left: 10%;
      width: 80%;
      border: 2px solid white;
    }

    .wrapper {
      position: absolute;
      /* min-height: 600px; */
      /* margin: 80px 10% 0px 8%; */
      border-top: 2px solid white;
      border-right: 2px solid white;
      margin-top: 100px;
      width: 90%;
      height: auto;
      text-align: center;
      padding: 30px 0px;
    }

    h1 {
      font-size: 20px;
    }

    .FormCGTDATA {
      width: 80%;
      margin-left: 0;
      padding: 20px 5px;
      border-radius: 50px;
      margin-bottom: 10px;
    }

    .avatar {

    }

    footer {
      display: none;
    }












/* FORM INSCRIPTION-CONNEXION */

.Formlogin{
    width: 320px;
    background: #fff;
    color: #000;
    position: relative;
    margin-left: 90px;
    /* transform: translate(-50%,-50%); */
    box-sizing: border-box;
    padding: 70px 30px;
    display: block;
    border-radius: 50px;
}

.form1 {
  height: 270px;
  /* border: 1px solid red; */
}

.form2 {
  height: 350px;
  padding-top: 20px;
}


.logo-formlogin{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.Formlogin p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.Formlogin input{
    width: 100%;
    margin-bottom: 20px;
}
.Formlogin input{
    width: 100%;
    margin-bottom: 20px;
}

.Formlogin input[type="text"], .Formlogin input[type="password"], .Formlogin input[type="email"], .Formlogin textarea
{
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    /* background: transparent; */
    background-color: #b57600;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.Formlogin input[type="text"]::placeholder, .Formlogin input[type="password"]::placeholder, .Formlogin input[type="email"]::placeholder, .Formlogin textarea
{
  color : #fff;
  opacity: 1;
}

.Formlogin input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #b57600;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    border-bottom: 1px solid #fff;
}
.Formlogin input[type="submit"]:hover
{
    cursor: pointer;
    background: #000;
    color: #fff;
}
.Formlogin a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    /* color: darkgrey; */
}
.Formlogin textarea {
  margin-bottom: 20px;
}
